#wrap {
    width: 90%;
}

body {
    margin: 10px;
}

.hide {
    display: none !important;
}

#person-list li {
    list-style-type: none;
}


#face-number {
    margin-left: 15px;
}

#upload {
    margin: 10px 0px;
}

.content {
    margin-bottom: 2px;
}

input[type="radio"]{
    margin-left: 10px;
}