body{
    min-width:200px;
    min-height:200px; 
}

.hide{
    display: none !important;
}

#selection li{
    list-style-type:none;
}

#run_script{
    margin-top:5px;
}

.inline-btn{
    display: block;
}